<h1>Crazy Harry's Used Car Emporium!</h1>

<h2>Used Car Database</h2>

<img src="https://consumermediallc.files.wordpress.com/2012/06/usedcarsalesman.jpg" alt="Crazy Harry" />
<br>
<br>
<nav>
  <li><%= link_to "Show Cars", cars_path %></li>
  <li><%= link_to "Show Manufacturers", manufacturers_path %></li>
</nav>
